<h1>Quick Links</h1>
<p>Here are some links to help you get started:</p>

<div class="card-container">
  <a class="card" routerLink="/payments">
    <img width="20" alt="image" src="assets/lastPayments.png"/>
    <span> Last Payments</span>
    <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>    </a>

    <a class="card" routerLink="/sendMoney">
    <img width="20" alt="image" src="assets/sendMoney.png"/>
    <span>Fund Transfer</span>
    <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
  </a>
</div>
