<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid">
    <a routerLink="/"  title="NatWest Group" >
      <img width="200" id="natwestIcon" alt="image" src="assets/NatWestFull.png"/>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div *ngIf="isLoggedInVal" class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="dashboard">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="payments">Payments</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="sendMoney">Fund Transfer</a>
        </li>
      </ul>
      <!-- <form class="navbar-search navbar-search-dark form-inline mr-3 d-none d-md-flex ml-lg-auto">
        <div class="form-group mb-0">
          <div class="input-group input-group-alternative">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-search"></i></span>
            </div>
            <input class="form-control" placeholder="Search" type="text">
          </div>
        </div>
      </form> -->
      <a routerLink="/profile" title="Personal">
        <img class="profileImage" [src]="profile.profileUrl">
      </a>
    </div>
  </div>
</nav>
