<footer class="text-center text-lg-start bg-light text-muted">  
  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h4 class="text-uppercase fw-bold mb-4">
            NatWest Group
          </h4>
          <p>
            <a href="https://www.natwest.com/support-centre.html" target="_blank">Support</a></p>
          <p>  <a href="https://www.natwest.com/fraud-and-security.html" target="_blank">Security</a></p>
          <p>  <a href="https://www.natwest.com/service-status.html" target="_blank">Service status </a></p>
          <p>  <a href="https://www.natwest.com/banking-with-natwest/natwest-app.html" target="_blank">NatWest app</a></p>
          <p>  <a href="https://www.natwest.com/banking-with-natwest/register-for-online-banking.html" target="_blank">Online Banking</a></p>
          <p>  <a href="https://www.natwest.com/banking-with-natwest.html" target="_blank">Banking with NatWest</a></p>
          <p>   <a href="https://www.natwest.com/banking-with-natwest/our-purpose/climate.html" target="_blank">Climate Change Hub</a></p>
          <p>   <a href="https://www.natwest.com/learning.html" target="_blank">Learning with NatWest</a></p>
          <p>  <a href="https://www.natwestgroup.com/our-purpose/society/detecting-and-preventing-financial-crime.html" target="_blank">Detecting and preventing financial crime</a></p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h4 class="text-uppercase fw-bold mb-4">
            Products
          </h4>
          <p>
            <a href="https://www.natwest.com/current-accounts.html" target="_blank" class="text-reset">Bank accounts</a>
          </p>
          <p>
            <a href="https://www.natwest.com/savings.html" target="_blank">Savings</a>
          </p>
          <p>
            <a href="https://www.natwest.com/investments.html" target="_blank">Investments</a>
          </p>
          <p>
            <a href="https://www.natwest.com/credit-cards.html" target="_blank">Credit cards</a>
          </p>
          <p>
            <a href="https://www.natwest.com/buy-now-pay-later.html" target="_blank">Buy Now Pay Later</a>
          </p>
          <p>
            <a href="https://www.natwest.com/loans.html" target="_blank">Loans</a>
          </p>
          <p>
            <a href="https://www.natwest.com/current-accounts/overdrafts.html" target="_blank">Overdrafts</a>
          </p>
          <p>
            <a href="https://www.natwest.com/mortgages.html" target="_blank">Mortgages</a>
          </p>
          <p>
            <a href="https://www.natwest.com/insurance.html" target="_blank">Insurance</a>
          </p>
          <p>
            <a href="https://www.natwest.com/myrewards.html" target="_blank">Reward accounts and cards</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h4 class="text-uppercase fw-bold mb-4">
            Useful links
          </h4>
          <p>
            <a href="/dashboard" class="text-reset">Dashboard</a>
          </p>
          <p>
            <a href="/payments" class="text-reset">Payments</a>
          </p>
          <p>
            <a href="/sendMoney" class="text-reset">Fund Transfer</a>
          </p>
          <p>
            <a href="https://www.natwest.com/life-moments.html" target="_blank">View all Life moments</a>
          </p>
          <p>
            <a href="https://www.natwest.com/life-moments/managing-your-money.html" target="_blank">Managing your money</a>
          </p>
          <p>
            <a href="https://www.natwest.com/life-moments/Struggling-financially.html" target="_blank">Struggling financially</a>
          </p>
          <p>
            <a href="https://www.natwest.com/life-moments/bereavement.html" target="_blank">Bereavement</a>
          </p>
          <p>
            <a href="https://www.natwest.com/financial-health-check.html" target="_blank">Financial Health Check</a>
          </p>
          <p>
            <a href="https://www.natwest.com/mortgages/first-time-buyers/first-time-buyer-guide.html" target="_blank">First time buyer guide</a>
          </p>
          <p>
            <a href="https://www.natwest.com/life-moments/travel.html" target="_blank">Travel Guide</a>
          </p>
          <p>
            <a href="https://www.natwest.com/life-moments/financial-abuse.html" target="_blank">Financial abuse</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h4 class="text-uppercase fw-bold mb-4">Contact</h4>
          <p><i class="fas fa-home me-3"></i>National Westminster Bank plc, 250 Bishopsgate, London, EC2M 4AA.</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            info@natwest.com
          </p>
          <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
          <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->
  <!-- Section: Social media -->
  <div class="container pt-4 text-center text-white">
    <section class="mb-4">
      <a
        class="btn text-white btn-floating m-1"
        style="background-color: #3b5998;"
        href="https://www.facebook.com/NatWest" target="_blank"
        role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>
      <!-- Twitter -->
      <a
        class="btn text-white btn-floating m-1"
        style="background-color: #55acee;"
        href="https://twitter.com/NatWest_Help" target="_blank"
        role="button"
        ><i class="fab fa-twitter"></i
      ></a>
      <!-- Linkedin -->
      <a
        class="btn text-white btn-floating m-1"
        style="background-color: #0082ca;"
        href="https://www.linkedin.com/company/natwest" target="_blank"
        role="button"
        ><i class="fab fa-linkedin-in"></i
      ></a>
    </section>
    <section class="mb-4">
      <a href="/global/cookie-privacy.html" target="_blank" rel="noopener" aria-describedby="new-window-0">Privacy &amp; Cookies </a>
    &nbsp;
    <a href="/website-terms-and-FSCS.html" target="_blank" rel="noopener" aria-describedby="new-window-0">Website T&amp;Cs &amp; FSCS </a>
    &nbsp;
    <a href="/accessibility.html" target="_blank" rel="noopener" aria-describedby="new-window-0">Accessibility </a>
    &nbsp;
    <a href="https://jobs.natwestgroup.com" target="_blank" rel="noopener" aria-describedby="new-window-0">Careers </a>
    &nbsp;
    <a href="/site-map.html" target="_blank" rel="noopener" aria-describedby="new-window-0">Site Map </a>
    &nbsp;
    <a href="https://www.natwestgroup.com/our-purpose/our-approach/business-human-rights-modern-slavery.html" target="_blank" rel="noopener" aria-describedby="new-window-0">Modern Slavery Act </a>
    </section>
  </div>
  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    Copyright © 
    <a class="text-reset fw-bold" routerLink="/">National Westminster Bank plc</a>
    2022. Registered office: 250 Bishopsgate, London, EC2M 4AA.
  </div>
  <!-- Copyright -->
</footer>



  